@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/index.css or src/scrollbar.css */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #485ff7; /* Scrollbar thumb color */
    border-radius: 10px; /* Optional: Rounded corners */
    border: 3px solid #f1f1f1; /* Optional: Add padding around the thumb */
  }
  
  /* Firefox scrollbar */
  * {
    scrollbar-width: thin;
    scrollbar-color: #485ff7 #f1f1f1; /* Scrollbar color and track color */
  }
  
  